*{
    box-sizing: border-box;
    margin: 0;
}
.container{
   height: 90%;
}

[class*="col"] {
    padding: 10px;
}

[class*="row"] {
    padding: 15px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
}
.row .col1{
    flex-basis: 20%;
    text-align: center;
    height: 100vh;
}
.row .col2 {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
}
.row .col2 .row1 {
    height: 60vh;
}

.row .col2 .row2{
    display:flex ;
    justify-content: space-between;
    align-items: stretch;
    height: 50vh;

}
.row .col2 .row2 .col{
    flex-basis: 25%;
    
}


.row .col1 ul li{
    padding: 5px;
}