*{
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: stretch;
    flex-wrap: nowrap; */
}
.row .col1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 100%;
}
.row .col1 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
